<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <p><strong>Name: </strong><%= shelter.name %></p>
  <p><strong>Full Address: </strong><%= shelter.address %></p>
  <br>
<% end %>

<h2>Shelter's with Pending Applications:</h2>
<% @shelters_with_pending_apps.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>
