<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>

<h2>Shelter's with Pending Applications:</h2>
<% @shelters_with_pending_apps.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>
